.container-docentes{
    width: 1200px;
    height: 600px;
     
     margin: auto;
}

.first-line{
    display: flex;
}

.card-docente{
    margin: 10px;
    height: 320px;
   
}

.card-img-top{
    margin: auto;
    width: 278px;
    height: 160px;
}