<app-header></app-header>
<app-pg-principal></app-pg-principal>


<div class="container-docentes">
    <div class="first-line">
        <div class="card card-docente" style="width: 18rem;">
            <img class="card-img-top" src="prof-portugues.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Elizabeth Almdeida</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                
              </p>
              
            </div>
          </div>
    
          <div class="card card-docente" style="width: 18rem;">
            <img class="card-img-top" src="prof-cien.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Liza Garlande</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
           
            </div>
          </div>
    
          <div class="card card-docente" style="width: 18rem;">
            <img class="card-img-top" src="prof-hist.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jamahil dos Santos</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             
            </div>
          </div>
    
          <div class="card card-docente" style="width: 18rem;">
            <img class="card-img-top" src="prof-mat.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mohamed Vieira</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
     </div>

     <!-- <div class="second-line">
        <div class="card card-docente" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
     </div>
</div> -->

