.escola-slide{
    margin: auto;
    width: 900px;
    height: 700px;
}

.escola-slide img{
    margin-top: 60px;
    width: 900px;
    height: 600px;
}

.box-n-escola{
    margin: auto;
    width: 1080px;
    text-align: center;
    
}

.text-n-escola span{
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
   
}

.container-n-escola{
    margin-top: 100px;
    background-color: white;
    width: 100%;
}