    <nav class="navbar navbar-light  nav-info">
        <a class="navbar-brand" href="#">Início</a>
        <a class="navbar-brand" href="#">Minha Escola</a>
        <a class="navbar-brand" href="#">Docentes</a>
        <a class="navbar-brand" href="#">Funcionarios</a>
        <a class="navbar-brand" href="#">Pré-Matricula</a>
    </nav>

    <div class="box-info">
        <span>Uma Escola do presente já no futuro! Desde 1965.</span>

        <p>A ONEP acolhe seu filho desde a Educação infantil ao Ensino Médio  e o prepara para o mercado de trabalho
            com tecnologías, aulas práticas, educação financeira e empreendedora. Com Salas de informatica, Bibliotecas, quadras de esportes
            e muito mais.
        </p>

        <p>Com os melhores resultados nos ultimos 25 anos, aqui seu filho está sempre um passo a frente.</p>
    </div>
    
  





