
  

.nav-info{
    padding: 0px 250px 0px 250px;
    background-color: white;
    height: 60px;
}

.nav-info a{
    font-weight: 500;
}

.box-info p{
margin-left: 250px;
margin-top: 50px;
color: rgb(110, 109, 109);
font-weight: 500;
}





